@model ForumSystem.Web.ViewModels.Categories.AddCategoryModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div>
    Create new Forum
</div>
<div>
    <form asp-action="AddCategory" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title">Category Title</label>
            <input asp-for="Title" class="form-control" placeholder="Add forum title" />
            <span asp-validation-for="Title" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Description">Forum Description</label>
            <input asp-for="Description" class="form-control" placeholder="Add forum description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label>Upload Forum Image</label>
            <br />
            <label class="btn btn-dark">
                <input asp-for="ImageUpload" class="btn btn-dark" typeof="file" />
            </label>
            <br />
            <p class="text-danger">Make sure to use high-resolution images with aspect ratio 16:9</p>
            <br />

        </div>
        <button type="submit" class="btn btn-primary">Add forum</button>
    </form>
</div>