@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using ForumSystem.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Details" asp-route-id="@this.UserManager.GetUserId(User)">Hello @User.Identity.Name!</a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="dropdown show">
                <a href="#" class="btn  dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
                <ul class="dropdown-menu">
                    <div role="separator" class="dropdown-divider"></div>

                    <a class="dropdown-item" asp-area="Administration" asp-controller="Category" asp-action="Index">Open Admin Panel</a>
                </ul>
            </li>
            <li class="nav-item">
                <form asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"
                      method="post"
                      id="logoutForm" class="nav-link">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </form>
            </li>
        }

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>