@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/error/500/style.css">

</head>
<div id="error">Error</div>
<div class="error-num">
    500
    <div class="error-num__clip">500</div>
</div>
<p id="desc">Uh oh, there seems to be a problem.</p>
<p>Let me help you find <a href="/">a way out</a></p>