<!DOCTYPE HTML>
<html>
<head>
<title>Poses-404 Website Template | 404Pagefree.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="~/css/error/style.css">
</head>
<body>
<div class="wrap">
	<h1>Company Name</h1>
	<div class="banner">
		<img src="~/images/error/banner.png" alt="" />
	</div>
	<div class="page">
		<h2>Dude,,we can't find that page!</h2>
	</div>
	<div class="footer">
		<p>&copy; <script type="text/javascript">
  document.write(new Date().getFullYear());
</script> ForumSystem. All Rights Reserved>
	</div>
</div>
</body>
</html>

