@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/error/401/style.css">
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal" >

    <h1>Error <span class="errorcode">401 Unauthorized</span></h1>
    <p class="output">You don't have the rights to open that page.</p>
    <p class="output">Please try to <a href="/">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
</div>

